terraform/.terraform*
!terraform/.terraform-version
terraform/terraform.tfstate*
terraform-dev/.terraform*
!terraform-dev/.terraform-version
terraform-dev/terraform.tfstate*
terraform-staging/.terraform*
!terraform-staging/.terraform-version
terraform-staging/terraform.tfstate*
.idea/
.vscode/
