# Owners of the CODEOWNERS file
/CODEOWNERS @nacnudus

# Owners of any file in the `/.github/workflows/`
# directory in the root of the repository, and any of its subdirectories
# subdirectories.
/.github/workflows/ @nacnudus
