[mariadb]
max_connections = 10
connect_timeout	= 5
wait_timeout = 600
max_allowed_packet = 1G
default_storage_engine = InnoDB
innodb_log_file_size = 2G
innodb_buffer_pool_size = 8G
innodb_log_buffer_size = 8M
innodb_file_per_table	= 1
innodb_open_files = 400
innodb_io_capacity = 200
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0
