# Lints the terraform in dev before checking for sync

name: lint-terraform
permissions: {}

on:
  workflow_dispatch:
  push:
    paths:
      - 'terraform*/**'

jobs:
  diff-terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run TFLint
        run: |
          tflint --init
          tflint --chdir terraform-dev
